@media ( max-width: 1200px )
  .container
    max-width: 960px

  .slider
    width: 590px

  .card
    width: 230px
    height: 230px

  .packages

    &-wrappep
      display: grid
      grid-template-columns: repeat(2, 1fr)

    &-title
      margin-top: 0

    &__main
      grid-row: 1
      grid-column: span 2
      max-width: 730px
      margin: auto

    &__mash
      max-width: 450px
      margin: auto

  .footer

    &__input
      width: 100%

      &-group
        display: flex
        flex-basis: 100%

  .disclaimer
    &-wrappep
      justify-content: space-between

@media ( max-width: 992px )
  .container,
  .newsletter-wrappep
    max-width: 700px

  .logo
    max-width: 132px

    &__search
      margin-left: auto

  .navbar
    &-top
      padding: 30px 0

    &-menu
      padding: 22px 0

      &__link
        font-size: 12px
        line-height: 15px

  .search
    &__input
      width: 340px

  .hotel
    &-grid
      flex-direction: column

    &-slider

      &__item
        margin-bottom: 30px

    &-coordinates
      flex-direction: row
      margin-top: 30px

  .booking
    width: 340px

  .slider
    width: 100%

  .map
    width: 340px

    &-wrappep
      max-width: 700px

  .reviews
    &-slider
      &__item
        max-width: 580px

  .activities
    &-wrappep
      flex-wrap: wrap

    &__card
      margin-bottom: 20px

  .card
    width: 340px
    height: 250px

  .footer
    padding-top: 73px

    &-wrappep
      grid-template-columns: repeat(6, 1fr)

    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      width: 104px
      height: 120px
      margin-bottom: 18px

    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-left: -45px

    &__categories
      grid-row: 2
      grid-column: span 2

    &__additional
      grid-row: 2
      grid-column: 3 / 5
      margin-left: -35px

    &__legal
      grid-row: 2
      grid-column: 5 / 7
      margin: 0
      margin-left: 25px

    &__contact
      &-details
        grid-row: 3
        grid-column: span 6
        margin-top: 41px

      &-form
        grid-row: 4
        grid-column: span 4
        margin-top: 40px
        width: 529px

    &__input
      &-group
        min-width: 255px

    &__button
      grid-column: span 3

    &__info
      grid-column: 5

    &__disclaimer
      margin-top: 56px

  .modal

    &__dialog
      padding: 30px 50px

    &__close
      width: 16px
      height: 16px

@media ( max-width: 768px )

  body
    padding-top: 78px

  .container
    max-width: 576px

  .navbar

    &-mobile
      &-fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99

    &__user, &__search
      &_mobile
        &_hidden
          display: none

        &_visible
          display: flex

    &__user
      flex-direction: column
      justify-content: center

    &-bottom
      display: none
      position: fixed
      padding-top: 30px
      right: 0
      left: 0
      bottom: 0
      top: 72px

      &_visible
        display: block

    &-menu
      flex-direction: column
      padding-top: 0
      z-index: 99

      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block

    &__search
      max-width: 70%
      margin: 0 auto 20px

    &-top
      padding: 28px 0

      &__menu
        &-button
          display: flex
          width: 16px
          height: 11px
          padding: 0
          justify-content: space-between
          flex-direction: column
          border: none
  .menu
    &-button
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .user
    &__name
      &_light
        color: $light
        margin-left: 0
        margin-top: 10px

  .breadcrumb

    &-list
      padding-bottom: 0

  .stars
    flex-basis: auto

  .hotel
    padding: 23px 0 40px

    &-name
      flex-basis: 100%

    &-wrappep
      justify-content: space-between

    &-info
      &__text
        width: 100%

      &__name
        margin-top: 10px
        margin-bottom: 0

      &__rating
        display: none

      &__offer
        order: -1
        margin-left: 0

    &-slider
      &__button
        z-index: 97

  .slider
    height: 350px

  .booking
    max-width: 340px
    margin-right: 5px

  .map
    max-width: 340px
    margin-left: 5px

  .packages

    &-wrappep
      grid-template-columns: 1fr

    &-title
      font-size: 18px
      line-height: 23px

    &__main
      display: none

    &__mash
      margin: auto
      width: 99%

  .newsletter

    &-wrappep
      max-width: 576px
      max-width: 90%
      flex-direction: column
      align-items: flex-start

  .reviews
    padding-bottom: 0

    &-slider

      &__item
        padding: 0 30px 36px
        &:after
          display: none
        &:before
          display: none

      &__text
        margin-bottom: 0

      &__button
        top: 32px

        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
          z-index: 97

        &--next
          left: 50%
          transform: translate(-50%, 0)
          margin-left: 65px
          z-index: 97

      &__rating
        padding-bottom: 33px

  .activities
    padding-top: 40px
    padding-bottom: 60px

    &__title
      margin-top: 30px

  .card
    width: 49%
    height: 255px

  .footer

    &__title
      font-size: 14px

    &__info
      grid-column: 5 / 7
      margin-right: 25px

    &__contact
      &-form
        grid-column: span 7

    &__string

      &-icons
        margin: 0

  .disclaimer
    &-wrappep
      margin-top: 56px

  .modal

    &__dialog
      width: 320px
      max-height: 550px

    &__wrappep
      flex-direction: column

    &__button
      padding: 12px
      width: 120px
      height: 40px
      margin-bottom: 15px

@media ( max-height: 576px )

  .modal

    &__dialog
      width: 478px
      max-height: 90%
      padding: 20px 40px
      overflow: hidden

    &__title
      margin-top: 0
      margin-bottom: 0

    &__input
      width: 49%
      height: 30px
      &-mail
        width: 100%
        margin-top: 15px
        height: 30px

    &__message
      width: 100%
      min-height: 30px

@media ( max-width: 576px )

  .container
    max-width: 90%

  .hotel
    padding: 23px 0 40px

    &-info
      padding-bottom: 18px

    &-slider
      height: 179px

      &__img
        width: 96%

      &__item
        height: 179px
        margin-bottom: 0

        &:after
          width: 96%

    &-coordinates
      width: 100%
      flex-direction: column

  .logo
    width: 99px

  .booking
    width: 100%
    min-height: 210px
    margin-bottom: 20px

  .map
    width: 100%
    min-height: 172px

  .newsletter
    padding: 76px 0 83px

    &__title
      margin-bottom: 37px
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px

    &-title

      &__strong
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px

  .subscribe

    &-title
      max-width: 280px

  .reviews

    &-container
      max-width: 281px

    &-slider
      height: 100%

    &__title
      display: block
      width: 245px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      margin: 0 auto 42px

  .card
    width: 100%

  .footer
    padding-top: 69px

    &-wrappep
      grid-template-columns: minmax(90%, 1fr)
      grid-row-gap: 15px

    &__title
      font-size: 18px
      &--mess
        margin-bottom: 15px

    &__logo
      grid-row: 1
      grid-column: 1
      width: 104px
      margin-bottom: 0

    &__social
      &-network
        display: flex
        flex-direction: column
        grid-row: 2
        grid-column: 1
        margin: 0
        margin-top: 10px

      &-link
        width: 83px
        margin-top: 22px

    &__legal
      grid-row: 3
      grid-column: 1
      margin: 0
      margin-top: 11px

    &__additional
      grid-row: 4
      grid-column: 1
      margin: 0
      margin-top: 10px

    &__categories
      grid-row: 5
      grid-column: 1
      margin-top: 10px

    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        margin-top: 20px

      &-form
        display: flex
        flex-direction: column
        width: 100%
        grid-row: 7
        grid-column: 1
        margin-top: 20px

    &__input
      min-width: 281px
      &-group
        order: 1

    &__message
      width: 100%
      order: 2

    &__info
      grid-row: 8
      grid-column: 1
      flex-basis: 100%
      align-self: start
      justify-self: start
      margin-top: 15px
      margin-bottom: 15px
      order: 3

    &__button
      margin-top: 0
      order: 4

    &__string
      &-icons
        margin: 0
        margin-top: 10px

    &__disclaimer
      margin-top: 0

  .disclaimer
    &-wrappep
      flex-direction: column
      align-items: start
      margin-top: 30px
