@media ( max-width: 1200px )
  .container
    max-width: 960px

@media ( max-width: 992px )
  .container
    max-width: 700px

  .logo
    width: 132px

  &__search
    margin-left: auto

  .navbar
    &-top
      padding: 30px 0

    &-menu
      padding: 22px 0

      &__link
        font-size: 12px
        line-height: 15px

  .search
    &__input
      width: 340px

@media ( max-width: 768px )
  .container
    max-width: 576px
    max-width: 90%

  .navbar
    &__search, &-menu, &__user
      display: none

    &-top
      padding: 28px 0

      &__menu
        &-button
          display: flex
          width: 16px
          height: 11px
          padding: 0
          justify-content: space-between
          flex-direction: column
          border: none
    .menu
      &-button
        &__line
          width: 16px
          height: 1px
          background-color: $text-color

  .breadcrumb

    &-list
      padding-bottom: 0

  .stars
    flex-basis: auto

  .hotel

    &-name
      flex-basis: 100%

    &-wrappep
      justify-content: space-between

    &-info
      &__text
        width: 100%

      &__name
        margin-top: 10px
        margin-bottom: 0

      &__rating
        display: none

      &__offer
        order: -1
        margin-left: 0

@media ( max-width: 576px )
  .logo
    width: 99px
