@media ( max-width: 1200px )
  .container
    max-width: 960px

  .slider
    width: 590px

  .card
    width: 230px
    height: 230px

  .footer

    &__input
      flex-basis: 100%

  .disclaimer
    &-wrappep
      justify-content: space-between

@media ( max-width: 992px )
  .container,
  .newsletter-wrappep
    max-width: 700px

  .logo
    width: 132px

    &__search
      margin-left: auto

  .navbar
    &-top
      padding: 30px 0

    &-menu
      padding: 22px 0

      &__link
        font-size: 12px
        line-height: 15px

  .search
    &__input
      width: 340px

  .hotel
    &-grid
      flex-direction: column

    &-slider

      &__item
        margin-bottom: 30px

    &-coordinates
      flex-direction: row
      margin-top: 30px

  .booking
    width: 340px

  .slider
    width: 100%

  .map
    width: 340px

    &-wrappep
      max-width: 700px

  .packages

    &-wrappep
      display: grid
      grid-template-columns: 1fr

    &-title
      margin-top: 0

  &__main
    width: 500px
    height: 340px

  .reviews
    &-slider
      &__item
        max-width: 580px

  .activities
    &-wrappep
      flex-wrap: wrap

    &__card
      margin-bottom: 20px

  .card
    width: 340px
    height: 250px

  .footer
    padding-top: 73px

    &-wrappep
      grid-template-columns: repeat(6, 1fr)

    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      width: 104px
      height: 120px
      margin-bottom: 18px

    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-left: -45px

    &__categories
      grid-row: 2
      grid-column: span 2

    &__additional
      grid-row: 2
      grid-column: 3 / 5
      margin-left: -35px

    &__legal
      grid-row: 2
      grid-column: 5 / 7
      margin: 0
      margin-left: 25px

    &__contact
      &-details
        grid-row: 3
        grid-column: span 4
        margin-top: 41px

      &-form
        grid-row: 4
        grid-column: span 4
        margin-top: 40px
        width: 529px

    &__input
      max-width: 255px

    &__button
      grid-column: span 3
      margin: 0

    &__info
      margin: 0
      align-self: center
      padding-left: 20px

    &__disclaimer
      margin-top: 56px

@media ( max-width: 768px )
  .container
    max-width: 576px
    max-width: 90%

  .navbar
    &__search, &-menu, &__user
      display: none

    &-top
      padding: 28px 0

      &__menu
        &-button
          display: flex
          width: 16px
          height: 11px
          padding: 0
          justify-content: space-between
          flex-direction: column
          border: none
  .menu
    &-button
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .breadcrumb

    &-list
      padding-bottom: 0

  .stars
    flex-basis: auto

  .hotel
    padding: 23px 0 40px

    &-name
      flex-basis: 100%

    &-wrappep
      justify-content: space-between

    &-info
      &__text
        width: 100%

      &__name
        margin-top: 10px
        margin-bottom: 0

      &__rating
        display: none

      &__offer
        order: -1
        margin-left: 0

  .slider
    height: 350px

  .booking
    width: 340px

  .map
    width: 340px

  .packages

    &-title
      font-size: 18px
      line-height: 23px

    &-wrappep
      display: grid
      grid-gap: 15px

    &__main
      width: 90%
      height: 500px

    &__mash
      max-width: 300px
      height: 500px

  .newsletter

    &-wrappep
      max-width: 576px
      max-width: 90%
      flex-direction: column
      align-items: flex-start

  .reviews
    padding-bottom: 0

    &-slider

      &__item
        padding: 0 30px 36px
        &:after
          display: none
        &:before
          display: none

      &__text
        margin-bottom: 0

      &__button
        top: 32px

        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px

        &--next
          left: 50%
          transform: translate(-50%, 0)
          margin-left: 65px

      &__rating
        padding-bottom: 33px

  .activities
    padding-top: 40px
    padding-bottom: 60px

    &__title
      margin-top: 30px

  .card
    width: 49%
    height: 255px

  .footer

    &__title
      font-size: 14px

    &__info
      grid-column: span 2

  .disclaimer
    &-wrappep
      margin-top: 56px

@media ( max-width: 576px )
  .hotel
    padding: 23px 0 40px

    &-info
      padding-bottom: 18px

    &-slider
      height: 179px

      &__img
        width: 96%

      &__item
        height: 179px
        margin-bottom: 0

        &:after
          width: 96%

    &-coordinates
      width: 100%
      flex-direction: column

  .logo
    width: 99px

  .booking
    width: 100%
    min-height: 210px
    margin-bottom: 20px

  .map
    width: 100%
    min-height: 172px

  .packages

    &-title
      font-size: 18px
      line-height: 23px

    &__main
      display: none

    &__mash
      width: 99%

  .newsletter
    padding: 76px 0 83px

    &__title
      margin-bottom: 37px
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px

    &-title

      &__strong
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px

  .subscribe

    &-title
      max-width: 280px

  .reviews

    &-container
      width: 281px

    &-slider
      height: 100%

    &__title
      display: block
      width: 245px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      margin: 0 auto 42px

  .card
    width: 100%

  .footer
    padding-top: 69px

    &-wrappep
      grid-template-columns: minmax(95%, 1fr)

    &__title
      font-size: 18px
      &--mess
        margin-bottom: 15px

    &__logo
      grid-row: 1
      grid-column: 1
      width: 104px
      margin-bottom: 0

    &__social
      &-network
        display: flex
        flex-direction: column
        grid-row: 2
        grid-column: 1
        margin: 0
        margin-top: 10px

      &-link
        width: 83px
        margin-top: 22px

    &__legal
      grid-row: 3
      grid-column: 1
      margin: 0
      margin-top: 11px

    &__additional
      grid-row: 4
      grid-column: 1
      margin: 0
      margin-top: 10px

    &__categories
      grid-row: 5
      grid-column: 1
      margin-top: 10px

    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        margin-top: 20px

      &-form
        width: 100%
        grid-row: 7
        grid-column: 1
        margin-top: 20px

    &__info
      grid-row: 8
      grid-column: 1
      align-self: start
      padding: 0

    &__button
      grid-row: 9
      grid-column: 1
      margin-top: -30px

    &__string
      &-icons
        margin: 0
        margin-top: 10px

    &__disclaimer
      margin-top: 0

  .disclaimer
    &-wrappep
      flex-direction: column
      align-items: start
      margin-top: 10px
